sml/core.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar
   xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:sml="http://www.opengis.net/sensorml/2.0" 
   xmlns:gml="http://www.opengis.net/gml/3.2" 
   xmlns:swe="http://www.opengis.net/swe/2.0"
   xmlns:ism="urn:us:gov:ic:ism:v2"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   
   <!-- -->
   <include href="../swe/data.rng"/>
   
   <!-- GML Object Group with SML modification-->
   <define name="sml.GmlObjectGroup">
      <group>
         <optional>
            <ref name="gml.id"/>
         </optional>
         <optional>
            <ref name="gml.description"/>
         </optional>
         <element name="gml:identifier">
            <attribute name="codeSpace">
               <value>uniqueID</value>
            </attribute>
            <data type="ID"/>
         </element>	
         <optional>
            <ref name="gml.name"/>
         </optional>
      </group>
   </define>
   
   
   <!-- Described Object -->
   <define name="sml.describedObject">
      <group>		  	  
  		  <ref name="sml.GmlObjectGroup"/>            
  		  <!--
  		  <zeroOrMore>
  			 <ref name="sml.extension"/>
  		  </zeroOrMore>
  		  -->
  		  <zeroOrMore>
  			 <ref name="sml.keywords"/>
  		  </zeroOrMore>
  		  <zeroOrMore>
  			 <ref name="sml.identification"/>
  		  </zeroOrMore>
  		  <zeroOrMore>
  			 <ref name="sml.classification"/>
  		  </zeroOrMore>
  		  <optional>
  			 <ref name="sml.validTime"/>
  		  </optional>
  		  <optional>
  			 <ref name="sml.securityConstraint"/>
  		  </optional>        
  		  <zeroOrMore>           
  			 <ref name="sml.legalConstraint"/>        
  		  </zeroOrMore>
  		  <zeroOrMore>
  			 <ref name="sml.characteristics"/>
  		  </zeroOrMore>
  		  <zeroOrMore>
  			 <ref name="sml.capabilities"/>
  		  </zeroOrMore>
  		  <zeroOrMore>
  			 <ref name="sml.contacts"/>
  		  </zeroOrMore>
  		  <zeroOrMore>
  			 <ref name="sml.documentation"/>
  		  </zeroOrMore>
  		   <zeroOrMore>
  			 <ref name="sml.history"/>
  		  </zeroOrMore>
      </group>
  </define>
   
   <define name="sml.label">
		  <a:documentation>Label</a:documentation>
		  <element name="swe:label">
			 <data type="string">
				<param name="minLength">1</param>
			 </data>
		  </element>	   
   </define>
   
   
   <!-- Identification group used by many swe properties -->
   <define name="swe.identGroup">
	   <a:documentation>Identification Group</a:documentation>
       <optional>	  
		  <a:documentation>UniqueIdentifier</a:documentation>
		  <element name="swe:identifier">
			 <data type="string">
				<param name="minLength">1</param>
			 </data>
		  </element>	  
		</optional>
       <optional>
           <ref name="sml.label"/>	  
		</optional>
       <optional>	  
		  <a:documentation>Description</a:documentation>
		  <element name="swe:description">
			 <data type="string">
				<param name="minLength">1</param>
			 </data>
		  </element>	  
		</optional>		  
   </define>
   
   <!-- Property Identification -->
   <define name="sml.propertyID">
       <ref name="sml.attributes"/>
      <!--
      <zeroOrMore>
         <ref name="swe.extension"/>
      </zeroOrMore>
      -->
      <ref name="swe.identGroup"/>         
   </define>
   
   <!--  CodeSpace -->
   <define name="sml.codeSpace">
       <a:documentation>Code Space</a:documentation>
       <attribute name="codeSpace">
          <data type="anyURI"/>
       </attribute>
   </define>
   
   
   <!-- Keywords -->
   <define name="sml.keywords">
      <a:documentation>Keywords</a:documentation>
      <element name="sml:keywords">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:KeywordList">
               <a:documentation>Inline Keyword List</a:documentation>
               <ref name="sml.propertyID"/>               
               <optional>
                <ref name="sml.codeSpace"/>
               </optional>               
               <oneOrMore>                  
                  <element name="sml:keyword">
                     <data type="token"/>
                  </element>
               </oneOrMore>
            </element>
         </choice>         
      </element>
   </define>
   
   <!-- Identifier List -->
   <define name="sml.identification">
      <a:documentation>Identification</a:documentation>
      <element name="sml:identification">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
        <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:IdentifierList">
               <a:documentation>Inline Identifier List</a:documentation>
               <ref name="sml.propertyID"/>               
               <oneOrMore>
                  <element name="sml:identifier">
                     <ref name="sml.Term"/>
                  </element>
               </oneOrMore>
            </element>
         </choice>         
      </element>
   </define>
   
   <!-- Classification -->
   <define name="sml.classification">
      <a:documentation>Classification</a:documentation>
      <element name="sml:classification">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:ClassifierList">
               <a:documentation>Inline Classifier List</a:documentation>
               <ref name="sml.propertyID"/>               
               <oneOrMore>
                  <element name="sml:classifier">
                     <ref name="sml.Term"/>
                  </element>
               </oneOrMore>
            </element>
         </choice>         
      </element>
   </define>
   
   <!-- Term -->
   <define name="sml.Term">
      <a:documentation>Term</a:documentation>
      <element name="sml:Term">
         <ref name="sml.attributes"/>
		  <!--
		  <zeroOrMore>
			 <ref name="swe.extension"/>
		  </zeroOrMore>
		  -->
		  <element name="sml:label">
			 <data type="string">
				<param name="minLength">1</param>
			 </data>
		  </element>
         <optional>
            <element name="sml:codeSpace">
               <ref name="xlink.href">
                  <a:documentation>Code Space</a:documentation>
               </ref>
            </element>
         </optional>         
      	 <element name="sml:value">
            <data type="token">
               <param name="minLength">1</param>
            </data>
         </element>
      </element>
   </define>
   
   <!-- Valid Time -->
   <define name="sml.validTime">
      <a:documentation>Temporal Validity</a:documentation>
      <element name="sml:validTime">
         <ref name="gml.TimeGroup"/>
      </element>
   </define>
   
   <!-- securityConstraint -->
   <define name="sml.securityConstraint">
	  <a:documentation>Security Constraint</a:documentation>
      <empty/>
	  <!-- HOW DO WE DECLARE xsd:any IN RELAXNG -->
   </define>
   
   <!-- Legal Constraint -->
   <define name="sml.legalConstraint">
      <a:documentation>Legal Constraints</a:documentation>
      <element name="sml:legalConstraints">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <ref name="gmd.MD_LegalConstraints"/>
         </choice>         
      </element>
   </define>
   
   <!-- member -->
   <define name="sml.member">
      <element name="sml:member">
         <attribute name="name"/>
         <ref name="swe.AnyData"/>
      </element>
   </define>

   <!-- Characteristics -->
   <define name="sml.characteristics">
      <a:documentation>Characteristics</a:documentation>
      <element name="sml:characteristics">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:CharacteristicList">
               <ref name="sml.propertyID"/>
               <oneOrMore>
                  <ref name="sml.member"/>
               </oneOrMore>
            </element>
         </choice>         
      </element>
   </define>
      
   <!-- Capabilities -->
   <define name="sml.capabilities">
      <a:documentation>Capabilities</a:documentation>
      <element name="sml:capabilities">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:CapabilityList">
               <ref name="sml.propertyID"/>
               <oneOrMore>
                  <ref name="sml.member"/>
               </oneOrMore>
            </element>
         </choice>         
      </element>
   </define>   
   
   <!-- Contacts -->
   <define name="sml.contacts">
      <a:documentation>Contacts</a:documentation>
      <element name="sml:contacts">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:ContactList">
               <ref name="sml.propertyID"/>
               <oneOrMore>
                  <element name="sml.member">
                     <ref name="gmd.CI_ResponsibleParty"/>             
                  </element>
               </oneOrMore>
            </element>
         </choice>                  
       </element>
    </define>     

   
   <!-- documentation -->
   <define name="sml.documentation">
      <a:documentation>Documentation</a:documentation>
      <element name="sml:documentation">
          <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <ref name="sml.DocumentList"/>
         </choice>         
      </element>
   </define>
      
   <!-- Document List -->
   <define name="sml.DocumentList">
      <a:documentation>Document List</a:documentation>
      <element name="sml:DocumentList">
         <ref name="sml.propertyID"/>
         <oneOrMore>
            <element name="sml:member">
               <optional>
                  <ref name="xlink.roles"/>
               </optional>
               <choice>
                  <ref name="xlink.href"/>
			      <group>
                     <ref name="gmd.CI_OnlineResource"/>
	              </group>
               </choice>
            </element>
         </oneOrMore>
      </element>
   </define>
   
   
   <!-- history -->
   <define name="sml.history">
      <a:documentation>History</a:documentation>
      <element name="sml:history">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <ref name="sml.EventList"/>
         </choice>
      </element>
   </define>

   <!-- Event List -->
   <define name="sml.EventList">
      <a:documentation>Event List</a:documentation>
      <element name="sml:EventList">
         <ref name="sml.propertyID"/>
         <oneOrMore>
            <element name="sml:member">
               <optional>
                  <ref name="xlink.roles"/>
               </optional>
               <choice>
                  <ref name="xlink.href"/>
			      <group>
                     <ref name="sml.Event"/>
	              </group>
               </choice>
            </element>
         </oneOrMore>
      </element>
   </define>
   

   <!-- Event -->
   <define name="sml.Event">
      <a:documentation>Event</a:documentation>
      <element name="sml:Event">
         <ref name="sml.propertyID"/>
		  <optional>
			 <ref name="sml.keywords"/>
		  </optional>
		  <optional>
			 <ref name="sml.identification"/>
		  </optional>
		  <optional>
			 <ref name="sml.classification"/>
		  </optional>
		  <optional>
			 <ref name="sml.contacts"/>
		  </optional>
		  <optional>
			 <ref name="sml.documentation"/>
		  </optional>
  		  <element name="sml.time">
  		     <ref name="gml.TimeGroup"/>
  		  </element>
  		  <element name="property">
  		     <ref name="swe.AnyData"/>
  		  </element>
          <ref name="sml.configuration"/>   
       </element>   
   </define>
 
   <!-- configuration -->
   <define name="sml.configuration">
      <element name="sml:configuration">
         <element name="sml:Setting">
            <optional>
               <ref name="gml.id"/>
            </optional>
            <!-- extension -->
            <zeroOrMore>
               <element name="sml:setValue">
                  <ref name="sml.ref"/>
                  <data type="token"/>
               </element>
            </zeroOrMore>
            <zeroOrMore>
               <element name="sml:setArrayValue">
                  <ref name="sml.ref"/>
                  <data type="token"/>
               </element>
            </zeroOrMore>
            <zeroOrMore>
               <element name="sml:setConstraint">
                  <choice>
                     <ref name="swe.AllowedTimes"/>  
                     <ref name="swe.AllowedTokens"/>
                     <ref name="swe.AllowedValues"/>
                  </choice>
               </element>
            </zeroOrMore>
            <zeroOrMore>
               <element name="sml:setMode">
                  <ref name="sml.ref"/>
                  <data type="NCName"/>
               </element>
            </zeroOrMore>
            <zeroOrMore>
               <element name="sml:setStatus">
                  <ref name="sml.ref"/>
                  <data type="string"/>
               </element>
            </zeroOrMore>         
         </element>
      </element>
   </define> 
   
   
   <!-- ref -->
   <define name="sml.ref">
      <attribute name="sml:ref">
         <data type="token">
            <param name="pattern">([a-zA-Z_][a-zA-Z0-9_\-\.]*)(/[a-zA-Z_][a-zA-Z0-9_\-\.]*)*</param>         
         </data>
      </attribute>
   </define>
   
</grammar>
