sml/Process.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:sml="http://www.opengis.net/sensorml/2.0" 
   xmlns:gml="http://www.opengis.net/gml/3.2" 
   xmlns:swe="http://www.opengis.net/swe/2.0"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   
   <!-- -->
   <include href="core.rng">
      <start>
            <ref name="sml.ProcessGroup"/>
      </start>
   </include>
      
   
   <!-- Definition of Simple Process -->
   <define name="sml.SimpleProcess">
      <a:documentation>Atomic Process</a:documentation>
      <element name="sml:SimpleProcess">
         <ref name="sml.describedObject"/>
         <ref name="sml.ProcessContents"/>
         <ref name="sml.method"/>
      </element>
   </define>
   
   <!-- Definition of Aggregate Process -->
   <define name="sml.AggregateProcess">
      <a:documentation>Agregate Process Chain</a:documentation>
      <element name="sml:AggregateProcess">
         <ref name="sml.describedObject"/>
         <ref name="sml.ProcessContents"/>
         <ref name="sml.components"/>
         <ref name="sml.connections"/>
      </element>
   </define>
   
   
   <!-- Defines the basic components of a process -->
   <define name="sml.ProcessContents">
      <group>
      <optional>
        <a:documentation>Process Definition URI</a:documentation>
        <attribute name="definition">
          <data type="anyURI"/>
        </attribute>
      </optional>
		  <optional>
			 <ref name="sml.typeOf"/>
		  </optional>
		  <optional>
			 <ref name="sml.configuration"/>
		  </optional>
		  <optional>
			 <ref name="sml.featureOfInterest"/>
		  </optional>   
		  <optional>
			 <ref name="sml.inputs"/>
		  </optional>
		  <optional>
			 <ref name="sml.outputs"/>
		  </optional>
		  <optional>
			 <ref name="sml.parameters"/>
		  </optional>
		  <zeroOrMore>
			 <ref name="sml.modes"/>
		  </zeroOrMore>
      </group>
   </define>
  
   
   <!-- Input list -->
   <!-- Simplified version without support for href -->
   <define name="sml.inputs">
      <a:documentation>Inputs</a:documentation>
      <element name="sml:inputs">
         <element name="sml:InputList">
            <oneOrMore>
               <ref name="sml.input"/>
            </oneOrMore>
         </element>
      </element>
   </define>
   <!--<define name="sml.inputs">
      <a:documentation>Inputs</a:documentation>
      <element name="sml:inputs">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:InputList">
               <a:documentation>Inline Input List</a:documentation>
               <optional>
                  <ref name="gml.id"/>
               </optional>
               <oneOrMore>
                  <ref name="sml.input"/>
               </oneOrMore>
            </element>
         </choice>
      </element>
   </define>-->
   
   <!-- Output list -->
   <!-- Simplified version without support for href -->
   <define name="sml.outputs">
      <a:documentation>Outputs</a:documentation>
      <element name="sml:outputs">
         <element name="sml:OutputList">
            <oneOrMore>
               <ref name="sml.output"/>
            </oneOrMore>
         </element>
      </element>
   </define>
   <!--<define name="sml.outputs">
      <a:documentation>Outputs</a:documentation>
      <element name="sml:outputs">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:OutputList">
               <a:documentation>Inline Output List</a:documentation>
               <optional>
                  <ref name="gml.id"/>
               </optional>
               <oneOrMore>
                  <ref name="sml.output"/>
               </oneOrMore>
            </element>
         </choice>
      </element>
   </define>-->
   
   <!-- Parameter list -->
   <!-- Simplified version without support for href -->
   <define name="sml.parameters">
      <a:documentation>Parameters</a:documentation>
      <element name="sml:parameters">
         <element name="sml:ParameterList">
            <oneOrMore>
               <ref name="sml.parameter"/>
            </oneOrMore>
         </element>
      </element>
   </define>
   <!--<define name="sml.parameters">
      <a:documentation>Parameters</a:documentation>
      <element name="sml:parameters">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:ParameterList">
               <a:documentation>Inline Parameter List</a:documentation>
               <optional>
                  <ref name="gml.id"/>
               </optional>
               <oneOrMore>
                  <ref name="sml.parameter"/>
               </oneOrMore>
            </element>
         </choice>
      </element>
   </define>-->
   
   <!--components -->
   <!-- Simplified version without support for href -->
   <define name="sml.components">
      <element name="sml:components">
         <element name="sml:ComponentList">
            <oneOrMore>
               <ref name="sml.component"/>
            </oneOrMore>
         </element>
      </element>
   </define>
   <!--<define name="sml.components">
      <element name="sml:components">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <ref name="xlink.href"/>
            <element name="sml:ComponentList">
               <a:documentation>Component List</a:documentation>
               <optional>
                  <ref name="gml.id"/>
               </optional>
               <oneOrMore>
                  <ref name="sml.component"/>
               </oneOrMore>
            </element>
         </choice>
      </element>
   </define>-->
   
   <!-- connections -->
   <!-- Simplified version without support for href -->
   <define name="sml.connections">
      <element name="sml:connections">
         <element name="sml:ConnectionList">
           <oneOrMore>
             <ref name="sml.connection"/>
           </oneOrMore>
         </element>
      </element>
   </define>
   <!--<define name="sml.connections">
      <element name="sml:connections">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <a:documentation>Inline or By Reference</a:documentation>
            <ref name="xlink.href"/>
            <element name="sml:ConnectionList">
				<optional>
				   <ref name="gml.id"/>
				</optional>
				<oneOrMore>
				   <ref name="sml.connection"/>
				</oneOrMore>
            </element>
          </choice>
      </element>
   </define>-->
   
   <!-- Process Method defintion -->
   <define name="sml.method">
      <element name="sml:method">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <ref name="xlink.href"/>
         <!-- Note: schema allows ProcessMethod inline ... only by-reference supported here -->
      </element>
   </define>
   
   <!-- input -->
   <define name="sml.input">
      <element name="sml:input">
         <ref name="swe.nameAtt"/>
         <!--<optional>
            <ref name="xlink.roles"/>
         </optional>-->
         <choice>
            <ref name="xlink.href"/>
            <ref name="swe.AnyDataList"/>
            <ref name="sml.ObservableProperty"/>
         </choice>
      </element>
   </define>
   
   <!-- output -->
   <define name="sml.output">
      <element name="sml:output">
         <ref name="swe.nameAtt"/>
         <!--<optional>
            <ref name="xlink.roles"/>
         </optional>-->
         <choice>
            <ref name="xlink.href"/>
            <ref name="swe.AnyDataList"/>
            <ref name="sml.ObservableProperty"/>
         </choice>
      </element>
   </define>
   
   <!-- parameter -->
   <define name="sml.parameter">
      <element name="sml:parameter">
         <ref name="swe.nameAtt"/>
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <ref name="xlink.href"/>
            <ref name="swe.AnyDataList"/>
         </choice>
      </element>
   </define>
   
   <!-- component -->
   <define name="sml.component">
      <element name="sml:component">
         <ref name="swe.nameAtt"/>
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
            <ref name="xlink.hrefWithTitle"/>
            <ref name="sml.ProcessGroup"/>
         </choice>
      </element>
   </define>
   
   <!-- connection -->
   <define name="sml.connection">
      <element name="sml:connection">
         <optional>
            <ref name="swe.nameAtt"/>
         </optional>
         <element name="sml:Link">
            <element name="sml:source">
               <attribute name="ref">
                  <data type="token"/>
               </attribute>
            </element>
            <element name="sml:destination">
               <attribute name="ref">
                  <data type="token"/>
               </attribute>
            </element>
         </element>
      </element>
   </define>
   
   <!-- Nonphysical Processes -->
   <define name="sml.ProcessGroup" combine="choice">
      <choice>
         <ref name="sml.SimpleProcess"/>
         <ref name="sml.AggregateProcess"/>
      </choice>
   </define>
   
   <!-- Observable Property -->
   <define name="sml.ObservableProperty">
      <a:documentation>Observable Property</a:documentation>
      <element name="sml:ObservableProperty">
         <ref name="sml.propertyID"/>
      </element>
   </define>
  
    <!-- typeOf -->
    <define name="sml.typeOf">
       <a:documentation>Link to Process Type Description</a:documentation>
       <element name="sml:typeOf">
          <ref name="xlink.hrefWithTitle"/>
       </element>
    </define>
   
   
   <!-- modes -->
   <define name="sml.modes">
      <element name="sml:modes">
         <element name="sml:ModeChoice">
            <optional>
               <ref name="gml.id"/>
            </optional>
            <!-- sml.extension -->
            <oneOrMore>
               <element name="sml:mode">
                  <ref name="gml.xlink"/>
                  <element name="sml.Mode">
                     <ref name="sml.describedObject"/>
                     <ref name="sml.configuration"/>
                  </element>
               </element>
            </oneOrMore>
         </element>
      </element>
   </define>
       
   
   <!-- Feature of Interest FINISH THIS   -->
   <define name="sml.featureOfInterest">
      <a:documentation>Feature of Interest</a:documentation>      
   </define>
   
   
</grammar>
   
    
