extensions/Identifiers.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:sml="http://www.opengis.net/sensorml/2.0" 
   xmlns:gml="http://www.opengis.net/gml/3.2" 
   xmlns:swe="http://www.opengis.net/swe/2.0"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   
   <!-- includes -->
   <include href="../sml/core.rng"/>
   
   <define name="sml-x.identifierExtension">
      <a:documentation>Identifiers</a:documentation>
      <element name="sml:identification">
         <element name="sml:IdentifierList">
            <ref name="sml.metadataList"/> 
            <ref name="sml-x.identifierGroup"/>
         </element>        
      </element>     
   </define>
   
   <!-- identifier group (all) -->
   <define name="sml-x.identifierGroup">
      <optional>
         <a:documentation>Short Name</a:documentation>
         <ref name="sml-x.shortName"/>        
      </optional>
      <optional>
         <a:documentation>Long Name</a:documentation>
         <ref name="sml-x.longName"/>         
      </optional>
      <optional>
         <a:documentation>Manufacturer Name</a:documentation>
         <ref name="sml-x.manufacturer"/>
      </optional>
      <optional>
         <a:documentation>Model Number</a:documentation>
         <ref name="sml-x.modelNumber"/>
      </optional>
      <optional>
         <a:documentation>Seriual Number</a:documentation>
         <ref name="sml-x.serialNumber"/>
      </optional>
      <optional>
         <a:documentation>Firmware Version</a:documentation>
         <ref name="sml-x.firmwareVersion"/>
      </optional>
      <optional>
         <a:documentation>Software Version</a:documentation>
         <ref name="sml-x.softwareVersion"/>
      </optional>
      <optional>
         <a:documentation>Mission ID</a:documentation>
         <ref name="sml-x.missionID"/>
      </optional>
      <optional>
         <a:documentation>Cruise ID</a:documentation>
         <ref name="sml-x.cruiseID"/>
      </optional>
      <optional>
         <a:documentation>Ship ID</a:documentation>
         <ref name="sml-x.shipID"/>
      </optional>
      <optional>
         <a:documentation>Aircraft Tail Number</a:documentation>
         <ref name="sml-x.tailNumber"/>
      </optional>
      <zeroOrMore>
         <a:documentation>Other Identifier</a:documentation>
         <element name="sml:identifier">
            <ref name="sml.Term"/>
         </element>
      </zeroOrMore>
      
   </define>   
   
   <!-- Discovery Identifier List -->
   <define name="sml-x.discovery_identifiers">
      <a:documentation>Discovery Identifier List</a:documentation> 
      <ref name="sml-x.shortName"/>
      <ref name="sml-x.longName"/>
   </define> 

   <!-- Hardware Identifier List -->
   <define name="sml-x.hardware_identifiers">
      <a:documentation>Hardware Identifier List</a:documentation> 
      <optional>
         <ref name="sml-x.manufacturer"/>
      </optional>
      <optional>
         <ref name="sml-x.modelNumber"/>
      </optional>
      <optional>
         <ref name="sml-x.serialNumber"/>
      </optional>
      <optional>
         <ref name="sml-x.firmwareVersion"/>
      </optional>
      <optional>
         <ref name="sml-x.softwareVersion"/>
      </optional>
   </define>   

   <!-- Hardware Identifier List -->
   <define name="sml-x.req_hardware_identifiers">
      <a:documentation>Hardware Identifier List</a:documentation> 
         <ref name="sml-x.manufacturer"/>
         <ref name="sml-x.modelNumber"/>
         <ref name="sml-x.serialNumber"/>
         <ref name="sml-x.firmwareVersion"/>
         <ref name="sml-x.softwareVersion"/>
   </define>   
   
   <!-- Identifiers -->
   
      <!-- shortname -->
   <define name="sml-x.shortName">
      <a:documentation>Short Name</a:documentation> 
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/ShortName</value>
            </attribute>
            <element name="sml:label">
               <value>Short Name</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>
      
      <!-- longname -->
   <define name="sml-x.longName">
      <a:documentation>Long Name</a:documentation> 
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/LongName</value>
            </attribute>
            <element name="sml:label">
               <value>Long Name</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>   
   </define>

   
      <!-- manufacturer -->
      <define name="sml-x.manufacturer">
         <a:documentation>Manufacturer Name</a:documentation>
         <element name="sml:identifier">
            <element name="sml:Term">
               <attribute name="definition">
                  <value>http://sensorml.com/ont/swe/property/Manufacturer</value>
               </attribute>
               <element name="sml:label">
                  <value>Manufacturer Name</value>
               </element>
               <element name="sml:value">
                  <data type="token">
                     <param name="minLength">1</param>
                  </data>
               </element>
            </element>
         </element>
      </define>
      
      <!-- model number -->
      <define name="sml-x.modelNumber">
         <a:documentation>Model Number</a:documentation>
         <element name="sml:identifier">
            <element name="sml:Term">
               <attribute name="definition">
                  <value>http://sensorml.com/ont/swe/property/ModelNumber</value>
               </attribute>
               <element name="sml:label">
                  <value>Model Number</value>
               </element>
               <element name="sml:value">
                  <data type="token">
                     <param name="minLength">1</param>
                  </data>
               </element>
            </element>
         </element>
      </define>
      
   <!-- serial number -->
   <define name="sml-x.serialNumber">
      <a:documentation>Serial Number</a:documentation>
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/SerialNumber</value>
            </attribute>
            <element name="sml:label">
               <value>Serial Number</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>
   
   <!-- firmware version -->
   <define name="sml-x.firmwareVersion">
      <a:documentation>Firmware Version</a:documentation>
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/FirmwareVersion</value>
            </attribute>
            <element name="sml:label">
               <value>Firmware Version</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>

   <!-- software version -->
   <define name="sml-x.softwareVersion">
      <a:documentation>Software Version</a:documentation>
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/SoftwareVersion</value>
            </attribute>
            <element name="sml:label">
               <value>Software Version</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>

   <!-- mission ID -->
   <define name="sml-x.missionID">
      <a:documentation>Mission ID</a:documentation>
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/MissionID</value>
            </attribute>
            <element name="sml:label">
               <value>Mission ID</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>
   
   <!-- tail number -->
   <define name="sml-x.tailNumber">
      <a:documentation>Tail Number</a:documentation>
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/TailNumber</value>
            </attribute>
            <element name="sml:label">
               <value>Aircraft Tail Number</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>

   <!-- cruise ID -->
   <define name="sml-x.cruiseID">
      <a:documentation>Cruise ID</a:documentation>
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/CruiseID</value>
            </attribute>
            <element name="sml:label">
               <value>Cruise ID</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>

   <!-- ship ID -->
   <define name="sml-x.shipID">
      <a:documentation>Ship ID</a:documentation>
      <element name="sml:identifier">
         <element name="sml:Term">
            <attribute name="definition">
               <value>http://sensorml.com/ont/swe/property/ShipID</value>
            </attribute>
            <element name="sml:label">
               <value>Ship ID</value>
            </element>
            <element name="sml:value">
               <data type="token">
                  <param name="minLength">1</param>
               </data>
            </element>
         </element>
      </element>
   </define>
   
   
</grammar>
   
    
