extensions/Measurement.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns:sml="http://www.opengis.net/sensorml/2.0" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns:swe="http://www.opengis.net/swe/2.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<!-- includes -->
    <include href="../sml/SensorML.rng" />
    <include href="./Time.rng"/>


    <!-- Measurement Properties  -->
    <define name="sml-x.measurementProperties">
        <a:documentation>Measurement Properties</a:documentation> 
        <element name="swe:DataRecord">
            <element name="swe:label">
                <value>Measurement Properties</value>
            </element> 
            <optional>
                <a:documentation>Dynamic Range</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>dynamicRange</value>
                    </attribute>            
                    <ref name="sml-x.dynamicRange"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Range of Values</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>range</value>
                    </attribute>
                    <ref name="sml-x.range"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Sensitivity</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>sensitivity</value>
                    </attribute>
                    <ref name="sml-x.sensitivity"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Accuracy</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>accuracy</value>
                    </attribute>
                    <ref name="sml-x.accuracy"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Minimum Threshold</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>minThreshold</value>
                    </attribute>
                    <ref name="sml-x.minimumThreshold"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Sampling Frequency</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>samplingFreq</value>
                    </attribute>
                    <ref name="sml-x.samplingFreq"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Sampling Period</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>samplingPeriod</value>
                    </attribute>
                    <ref name="sml-x.samplingPeriod"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Sampling Duration</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>samplingDuration</value>
                    </attribute>
                    <ref name="sml-x.samplingDuration"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Calibration Curve</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>calibrationCurve</value>
                    </attribute>
                    <ref name="sml-x.calibration"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Frequency Response</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>freqResponse</value>
                    </attribute>
                    <ref name="sml-x.frequencyResponse"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Impulse Response</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>impulseResponse</value>
                    </attribute>
                    <ref name="sml-x.impulseResponse"/>
                </element>
            </optional>
            <optional>
                <a:documentation>Latency Time</a:documentation>
                <element name="swe:field">
                    <attribute name="name">
                        <value>latency</value>
                    </attribute>
                    <ref name="sml-x.latencyTime"/>
                </element>
            </optional>
        </element>
    </define>   
    

    

    <!-- Measurement is for properties that relate to qualifying measurement;
    these can be used in capabilities or parameters -->

    <!-- Dynamic Range ... range of linearity -->
  
    <define name="sml-x.dynamicRange">
        <a:documentation>
            Dynamic Range ... the range of linearity within a calibration curve 
        </a:documentation> 
        <element name="swe:QuantityRange">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/DynamicRange</value>
            </attribute>
            <element name="swe:label">
                <value>Dynamic Range</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <data type="token"/>
                </attribute>
            </element>
            <ref name="swe.quantityRangeValue"/>
        </element>
    </define>
    
    
    <!-- Measurement Range ... range of measurable values -->
    
    <define name="sml-x.range">
        <a:documentation>
             Measurement Range ... the range of measurable values
        </a:documentation> 
        <element name="swe:QuantityRange">
            <attribute name="definition">
                <value>http://www.w3.org/ns/ssn/systems/MeasurementRange</value>
            </attribute>
            <element name="swe:label">
                <value>Measurement Range</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <data type="token"/>
                </attribute>
            </element>
            <ref name="swe.quantityRangeValue"/>
        </element>
    </define>
    
    
    <!-- Sensitivity  ... resolution of measurement -->
    
    <define name="sml-x.sensitivity">
        <a:documentation>
            Sensitivity ... smallest stimulus change required to register a value change 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/sensitivity</value>
            </attribute>
            <element name="swe:label">
                <value>Sensitivity</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <data type="token"/>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
    
    <!-- Accuracy  ...  of measurement -->
    
    <define name="sml-x.accuracy">
        <a:documentation>
            Accuracy ... quality of measurement (%) 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/accuracy</value>
            </attribute>
            <element name="swe:label">
                <value>Accuracy</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <value>%</value>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
    
    
    
    
    <!-- Minimum Threshold ... min value at which measurement is detected  -->
    
    <define name="sml-x.minimumThreshold">
        <a:documentation>
            Minmum Threshold ... smallest amount of stimulus required to register a measurement 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/minimumThreshold</value>
            </attribute>
            <element name="swe:label">
                <value>Minimum Threshold</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <data type="token"/>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
    
        
    <!-- Sampling Frequency ... the frequency of measurement (uom: 1/sec)  -->
    
    <define name="sml-x.samplingFreq">
        <a:documentation>
            Sampling Frequency ... the number of measurement samples per second 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/SamplingFrequency</value>
            </attribute>
            <element name="swe:label">
                <value>Sampling Frequency</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <value>Hz</value>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
     

    <!-- Sampling Period ... time between measurements -->
    
    <define name="sml-x.samplingPeriod">
        <a:documentation>
            Sampling Period ... time between measurements 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/SamplingPeriod</value>
            </attribute>
            <element name="swe:label">
                <value>Sampling Period</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <value>s</value>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
    
    
    <!-- Sampling Duration ? ... length of time of measurement per sample -->

    <define name="sml-x.samplingDuration">
        <a:documentation>
            Sampling Duration ... length of time of measurement per sample 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/SamplingDuration</value>
            </attribute>
            <element name="swe:label">
                <value>Sampling Duration</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <value>s</value>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
    
    
    <!-- Integration Time -->

    <define name="sml-x.integrationTime">
        <a:documentation>
            Integration Time
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/IntegrationTime</value>
            </attribute>
            <element name="swe:label">
                <value>Integration Time</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <value>ms</value>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>     
     
    
    <!-- Calibration ... curve of stimulus value vs measured value -->
  
    <define name="sml-x.calibration">
        <a:documentation>
            Calibration ... curve of stimulus value vs measured value 
        </a:documentation> 
        <element name="swe:DataArray">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/CharacteristicCurve</value>
            </attribute>
            <element name="swe:label">
                <value>Steady-State Calibration</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <ref name="sml-x.curveElements"/>          
        </element>
    </define>
    
    
    <!-- Frequency Response ... response of a transducer to various frequencies of the stimulus -->
    
    <define name="sml-x.frequencyResponse">
        <a:documentation>
            Frequency Response ... response relative to electromagnetic frquencies 
        </a:documentation> 
        <element name="swe:DataArray">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/SpectralResponse</value>
            </attribute>
            <element name="swe:label">
                <value>Frequency Response</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <ref name="sml-x.curveElements"/>           
        </element>
    </define>
    
    
    <!-- Impulse Response ... output of a transducer as a function of time given an input impulse of 
    infinite magnitude and infinitesimal duration -->
    
    <define name="sml-x.impulseResponse">
        <a:documentation>
            Impulse Response ... time-related response to an input impulse 
        </a:documentation> 
        <element name="swe:DataArray">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/impulseResponse</value>
            </attribute>
            <element name="swe:label">
                <value>Impulse Response</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <ref name="sml-x.curveElements"/>           
        </element>
    </define>
    
    
    <!-- Latency Time ... time difference between the a stimulus change and the recognition and time-tagging of that change
                          by a transducer -->
    <define name="sml-x.latencyTime">
        <a:documentation>
            Latency Time ... time delay between stimulus and measurement response 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://sensorml.com/ont/swe/property/latencyTime</value>
            </attribute>
            <element name="swe:label">
                <value>Latency Time</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <value>s</value>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
    
    
    <!-- Response Time -->
    <define name="sml-x.responseTime">
        <a:documentation>
            Response Time ... time delay between stimulus and measurement response 
        </a:documentation> 
        <element name="swe:Quantity">
            <attribute name="definition">
                <value>http://www.w3.org/ns/ssn/systems/ResponseTime</value>
            </attribute>
            <element name="swe:label">
                <value>Response Time</value>
            </element>  
            <optional>
                <ref name="swe.description"/>
            </optional>
            <element name="swe:uom">
                <attribute name="code">
                    <value>ms</value>
                </attribute>
            </element>
            <element name="sml:value">
                <data type="decimal"/>
            </element>
        </element>
    </define>
    
                          
     <!-- Quantity field used in DataArrays -->
    
    <define name="sml-x.quantityField">
        <element name="swe:field">
            <attribute name="name">
                <data type="token"/>
            </attribute>
            <ref name="swe.Quantity"/>
        </element>       
    </define>
    

    <!-- Curve elements: elementCount, elementType, and encoding -->
    <define name="sml-x.curveElements">
        <element name="swe:elementCount">
            <element name="swe:Count">
                <element name="swe:value">
                    <value>2</value>                                               
                </element>
            </element>
        </element>
        <element name="swe:elementType">
            <attribute name="name">
                <value>curve</value>
            </attribute>
            <element name="swe:DataRecord">
                <ref name="sml-x.quantityField"/>
                <ref name="sml-x.quantityField"/>                    
            </element>              
        </element>
        <a:documentation>
            For CSV format use a space for tokenSeparator, a comma for blockSeparator, and dot for decimalSeparator
        </a:documentation>
        <ref name="swe.EncodedValuesGroup" />
    </define>  
    
    <define name="swe.DataArray">
        <!-- <a:documentation>Data Array (Array of N identical components)</a:documentation> -->
        <a:documentation>Data Array</a:documentation>
        <element name="swe:DataArray">
            <ref name="swe.AbstractDataComponent" />
            <ref name="swe.elementCount" />
            <element name="swe:elementType">
                <ref name="swe.dataComponentPropertyWithName" />
            </element>
            <optional>
                <a:documentation>Encoded Values</a:documentation>
                <ref name="swe.EncodedValuesGroup" />
            </optional>
        </element>
    </define>
    

</grammar>