profiles/Simple_Deployment.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:sml="http://www.opengis.net/sensorml/2.0" 
   xmlns:gml="http://www.opengis.net/gml/3.2" 
   xmlns:swe="http://www.opengis.net/swe/2.0"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   
   <include href="../basic_sml/Basic_Process.rng"/>

   <start>
      <a:documentation>Physical Component</a:documentation>
      <element name="sml:PhysicalComponent">
            <ref name="sml.deployed_DescribedObject"/>
            <ref name="sml.ProcessContents"/>
            <ref name="sml.PhysicalContents"/>
            <ref name="sml.method"/>
      </element>     
    </start>
   
   
   <!-- Described Object -->
   <define name="sml.deployed_DescribedObject">
      <group>		  	  
         <ref name="sml.GmlObjectGroup"/>            
         <zeroOrMore>
            <ref name="sml.keywords"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.deployed_identification"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.classification"/>
         </zeroOrMore>
         <optional>
            <ref name="sml.validTime"/>
         </optional>
         <optional>
            <ref name="sml.securityConstraint"/>
         </optional>        
         <zeroOrMore>           
            <ref name="sml.legalConstraint"/>        
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.characteristics"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.capabilities"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.contacts"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.documentation"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.history"/>
         </zeroOrMore>
      </group>
   </define>
   
   
   <!-- Deployed Identifier List -->
   <define name="sml.deployed_identification">
      <a:documentation>Identification</a:documentation>
      <element name="sml:identification">
         <element name="sml:IdentifierList">
            <ref name="sml.metadataList"/> 
            
            <!-- shortname -->
            <element name="sml:identifier">
               <element name="sml:Term">
                  <attribute name="definition">
                     <value>
                        http://sensorml.com/ont/swe/property/ShortName
                     </value>
                  </attribute>           
                  <element name="sml:label">
                     <value>Short Name</value>
                  </element>
                  <element name="sml:value">
                     <data type="token">
                        <param name="minLength">1</param>
                     </data>
                  </element>
               </element>
            </element>
            
            <!-- longname -->
            <element name="sml:identifier">
               <element name="sml:Term">
                  <attribute name="definition">
                     <value>
                        http://sensorml.com/ont/swe/property/LongName
                     </value>
                  </attribute>           
                  <element name="sml:label">
                     <value>Long Name</value>
                  </element>
                  <element name="sml:value">
                     <data type="token">
                        <param name="minLength">1</param>
                     </data>
                  </element>
               </element>
            </element>
            
            <!-- manufacturer -->
          <optional>
            <element name="sml:identifier">
               <element name="sml:Term">
                  <attribute name="definition">
                     <value>
                        http://sensorml.com/ont/swe/property/Manufacturer
                     </value>
                  </attribute>           
                  <element name="sml:label">
                     <value>Manufacturer</value>
                  </element>
                  <element name="sml:value">
                     <data type="token">
                        <param name="minLength">1</param>
                     </data>
                  </element>
               </element>
            </element>
          </optional>
            
            <!-- model number -->
          <optional>
             <element name="sml:identifier">
               <element name="sml:Term">
                  <attribute name="definition">
                     <value>
                        http://sensorml.com/ont/swe/property/ModelNumber
                     </value>
                  </attribute>           
                  <element name="sml:label">
                     <value>Model Number</value>
                  </element>
                  <element name="sml:value">
                     <data type="token">
                        <param name="minLength">1</param>
                     </data>
                  </element>
               </element>
            </element>
            </optional>
            
            <!-- serial number -->
          <optional>
            <element name="sml:identifier">
               <element name="sml:Term">
                  <attribute name="definition">
                     <value>
                        http://sensorml.com/ont/swe/property/SerialNumber
                     </value>
                  </attribute>           
                  <element name="sml:label">
                     <value>Serial Number</value>
                  </element>
                  <element name="sml:value">
                     <data type="token">
                        <param name="minLength">1</param>
                     </data>
                  </element>
               </element>
            </element>
          </optional>          

         </element>
         <zeroOrMore>
            <element name="sml:identifier">
               <ref name="sml.Term"/>
            </element>
         </zeroOrMore>
      </element>
   </define>
   
   
   
   
   
   
   
   
   
   
   
   

   <!-- Physical Contents -->
   <define name="sml.PhysicalContents">
      <optional>
         <a:documentation>Link to Platform</a:documentation>
         <element name="sml:attachedTo">
            <ref name="xlink.hrefWithTitle"/>
         </element>
     </optional>
     <optional>
        <element name="localReferenceFrame">
           <ref name="sml.ReferenceFrame"/>
        </element>     
     </optional>
     <zeroOrMore>
        <element name="sml:temporalReferenceFrame">
           <ref name="gml.TimeCoordinateSystem" />     
        </element>
     </zeroOrMore>
     <optional>
        <ref name="sml.deployedPosition"/>   
     </optional>
   </define>
   
   <!-- Reference Frame -->
   <define name="sml.ReferenceFrame">
      <element name="sml:ReferenceFrame">
         <element name="sml:origin">
            <data type="string"/>       
         </element>
         <oneOrMore>
            <element name="sml:axis">
               <attribute name="sml:name"/>
               <data type="string"/>           
            </element>
         </oneOrMore>           
      </element>
   </define>
   
   <!-- position -->
   <define name="sml.deployedPosition">
      <element name="sml:position">
         <optional>
            <ref name="xlink.roles"/>
         </optional>
         <choice>
<!--              <ref name="swe.Text"/>  -->
               <ref name="gml.Point"/>
               <ref name="swe.Vector"/>
<!--               <ref name="swe.DataRecord"/>
               <ref name="swe.DataArray"/>
               <ref name="swe.Matrix"/>
               <ref name="sml.ProcessGroup"/>
-->              
         </choice>
      </element>
   </define>
   
</grammar>
