XDomes/sensorInstance.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
   xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
   xmlns:sml="http://www.opengis.net/sensorml/2.0" xmlns:gml="http://www.opengis.net/gml/3.2"
   xmlns:swe="http://www.opengis.net/swe/2.0"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

   <include href="../basic_sml/Basic_SensorML.rng"/>
   <include href="../extensions/Position.rng"/>
   <include href="../extensions/Identify_Classify.rng"/>
   <include href="../extensions/Characteristics.rng"/>
     
   
   <start>
      <ref name="sml-x.TeledyneSensor"/>
   </start>
  

   <!-- Teledyne sensor instance-->
   <define name="sml-x.TeledyneSensor">
      <a:documentation>Teledyne Sensor</a:documentation>
      <element name="sml:PhysicalSystem">
         <ref name="sml.GmlObjectGroup"/> 
         <zeroOrMore>
            <ref name="sml.keywords"/>
         </zeroOrMore>
         <ref name="sml-x.instance_identifiers"/>
         <zeroOrMore>
            <ref name="sml.identification"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="sml.classification"/>
         </zeroOrMore>  
         <ref name="sml-x.instance_history"/>
         <element name="sml:typeOf">
            <ref name="xlink.hrefWithTitle"/>
         </element>         
         <ref name="sml-x.instance_configuration"/>
         <ref name="sml-x.instance_PhysicalContents"/>
         <optional>
            <ref name="sml.components"/>
         </optional>  
         <optional>
            <ref name="sml.connections"/>
         </optional>  
      </element>
   </define>
   
   <!-- Instance Identifiers -->
   <!-- supports both discovery and deployment identifiers -->
   <define name="sml-x.instance_identifiers">
      <a:documentation>Instance Identifiers</a:documentation>
      <element name="sml:identification">
         <element name="sml:IdentifierList">
            <ref name="sml.metadataList"/> 
            <ref name="sml-x.discovery_identifiers"/>
            <ref name="sml-x.req_hardware_identifiers"/>
            <zeroOrMore>
               <a:documentation>Other Identifier</a:documentation>
               <element name="sml:identifier">
                  <ref name="sml.Term"/>
               </element>
            </zeroOrMore>
          </element>        
      </element>
   </define>

   <!-- Characteristics -->
   <define name="sml-x.instance_characteristics">
      <a:documentation>Physical Characteristics</a:documentation>
      <element name="sml:characteristics">
         <element name="sml:CharacteristicList">
            <ref name="sml.metadataList"/>
            <element name="sml:characteristic">
               <attribute name="name">
                  <value>physical</value>
               </attribute>
               <ref name="sml-x.physicalProperties"/>
            </element>
         </element>
      </element>
   </define>
   

   <!-- Deployed Physical Contents -->
   <define name="sml-x.instance_PhysicalContents">
      <optional>
         <a:documentation>Link to Platform</a:documentation>
         <element name="sml:attachedTo">
            <ref name="xlink.hrefWithTitle"/>
         </element>
      </optional>
      
      <!-- use XYZ Reference Frame -->
      <element name="sml:localReferenceFrame">
         <ref name="sml-x.ReferenceFrame_XYZ"/>     
      </element>
            
      <!-- Ignore Time Reference Frame for NOW -->
      
<!--      <zeroOrMore>
         <element name="sml:temporalReferenceFrame">
            <ref name="gml.TimeCoordinateSystem"/>
         </element>
         </zeroOrMore> -->
      
      <!-- choose between stationary location or position (with orientation) -->
      <optional>
         <element name="sml:position">
            <choice>
               <ref name="sml-x.stationary_location"/>
               <ref name="sml-x.stationary_position"/>
            </choice>
         </element>
      </optional>
      
   </define>
   
   <define name="sml-x.instance_configuration">
      <element name="sml:configuration">
         <element name="sml:Setting">
<!--            <optional>
            <ref name="gml.id"/>
            </optional> 
            <zeroOrMore>
               <element name="sml:setValue">
                  <ref name="sml.ref"/>
                  <data type="token"/>
               </element>
            </zeroOrMore>
            <zeroOrMore>
               <element name="sml:setArrayValue">
                  <ref name="sml.ref"/>
                  <data type="token"/>
               </element>
            </zeroOrMore>
            <zeroOrMore>
               <element name="sml:setConstraint">
                  <choice>
                     <ref name="swe.AllowedTimes"/>
                     <ref name="swe.AllowedTokens"/>
                     <ref name="swe.AllowedValues"/>
                  </choice>
               </element>
            </zeroOrMore>
            </optional>
-->         
            <a:documentation>Depth Option</a:documentation>
            <choice>
              <group>
                 <a:documentation>200m Depth Option</a:documentation>
                 <element name="sml:setMode">
                    <attribute name="ref">
                       <value>modes/depthOption</value>
                    </attribute>
                    <value>depthOption_200m</value>
                 </element>
              </group>
              <group>
                 <a:documentation>500m Depth Option</a:documentation>
                 <element name="sml:setMode">
                    <attribute name="ref">
                       <value>modes/depthOption</value>
                    </attribute>
                    <value>depthOption_500m</value>
                 </element>
              </group>
              <group>
                 <a:documentation>1000m Depth Option</a:documentation>
                 <element name="sml:setMode">
                    <attribute name="ref">
                       <value>modes/depthOption</value>
                    </attribute>
                    <value>depthOption_1000m</value>
                 </element>
              </group>
              <group>
                 <a:documentation>6000m Depth Option</a:documentation>
                 <element name="sml:setMode">
                    <attribute name="ref">
                       <value>modes/depthOption</value>
                    </attribute>
                    <value>depthOption_6000m</value>
                 </element>
              </group>
            </choice>
<!--            
            <zeroOrMore>
               <element name="sml:setStatus">
                  <ref name="sml.ref"/>
                  <data type="string"/>
               </element>
            </zeroOrMore>
-->            
         </element>
      </element>
   </define>
   
   <!-- History -->
   <a:documentation>Instance History</a:documentation>
   <define name="sml-x.instance_history">
      <element name="sml:history">
         <element name="sml:EventList">
            <ref name="sml.metadataList"/>
   
               <element name="member">
                  <attribute name="name">
                     <value>manufactureDate</value>
                  </attribute>
                  <element name="sml:Event">
                     <attribute name="definition">
                        <value>http://sensorml.com/ont/swe/property/manufactureDate</value>
                     </attribute>             
                     <element name="swe.label">
                        <value>Manufacture Date</value>
                     </element>                 
                     <optional>
                        <ref name="swe.description"/>
                     </optional>              
                     <element name="sml:time">
                        <element name="gml:TimeInstance">
                           <element name="timePosition">
                              <value type="dateTime"/>
                           </element>   
                        </element>   
                     </element>
                     <optional>
                        <element name="property">
                           <ref name="swe.AnyData"/>
                        </element>
                     </optional>
                     <ref name="sml.configuration"/>
                  </element>
               </element>
   
            <element name="member">
               <attribute name="name">
                  <value>lastRepairDate</value>
               </attribute>
               <element name="sml:Event">
                  <attribute name="definition">
                     <value>http://sensorml.com/ont/swe/property/lastRepairDate</value>
                  </attribute>             
                  <element name="swe.label">
                     <value>Last Repair Date</value>
                  </element>                 
                  <optional>
                     <ref name="swe.description"/>
                  </optional>              
                  <element name="sml:time">
                     <element name="gml:TimeInstance">
                        <element name="timePosition">
                           <value type="dateTime"/>
                        </element>   
                     </element>   
                  </element>
                  <optional>
                     <element name="property">
                        <ref name="swe.AnyData"/>
                     </element>
                  </optional>
                  <ref name="sml.configuration"/>
               </element>
            </element>
    
            <element name="member">
               <attribute name="name">
                  <value>lastCalibrationDate</value>
               </attribute>
               <element name="sml:Event">
                  <attribute name="definition">
                     <value>http://sensorml.com/ont/swe/property/lastCalibrationDate</value>
                  </attribute>             
                  <element name="swe.label">
                     <value>Last Calibration Date</value>
                  </element>                 
                  <optional>
                     <ref name="swe.description"/>
                  </optional>              
                  <element name="sml:time">
                     <element name="gml:TimeInstance">
                        <element name="timePosition">
                           <value type="dateTime"/>
                        </element>   
                     </element>   
                  </element>
                  <optional>
                     <element name="property">
                        <ref name="swe.AnyData"/>
                     </element>
                  </optional>
                  <ref name="sml.configuration"/>
               </element>
            </element>
            
            <zeroOrMore>
               <element name="sml:member">
                  <ref name="sml.Event"/>
               </element>
            </zeroOrMore>
         </element>
      </element>
   </define> 
   

</grammar>
